<div class="new_daily_entry">
	<%= form_for DailyEntry.new do |f| %>
		<p>
			<%= f.label :title %>
			<%= f.text_field :title, required: true %>
		</p>
		<p>
			<%= f.label :body %>
			<%= f.text_area :body, required: true %>
		</p>
		<p>
			<%= f.label :mood_rating %>
			<ul>
				<li>Sad <%= radio_button(:daily_entry, :mood_rating, 1, options = {}) %></li>
				<li><%= radio_button(:daily_entry, :mood_rating, 2, options = {} ) %></li>
				<li><%= radio_button(:daily_entry, :mood_rating, 3) %></li>
				<li><%= radio_button(:daily_entry, :mood_rating, 4) %></li>
				<li>Somewhere in between? <%= radio_button(:daily_entry, :mood_rating, 5) %></li>
				<li><%= radio_button(:daily_entry, :mood_rating, 6) %></li>
				<li><%= radio_button(:daily_entry, :mood_rating, 7) %></li>
				<li><%= radio_button(:daily_entry, :mood_rating, 8) %></li>
				<li><%= radio_button(:daily_entry, :mood_rating, 9) %></li>
				<li>Happy <%= radio_button(:daily_entry, :mood_rating, 10) %></li>
			<ul>
		</p>
		<p>
			<%= f.submit %>
		</p>	
	<% end %>
</div>